<app-header></app-header>
<section class="main">
  <div class="content">
    <div class="toolbar">
      <div class="left"></div>
      <div class="center">
        <div *ngIf="queryIndustryId !== undefined" class="query">
          <span>Seeing devices for: {{ queryIndustryId | identify : industriesList : 'id' : 'name' }}</span>
          <button class="close" (click)="resetQueryFilter()" autofocus="false"></button>
        </div>
      </div>
      <div class="right">
        <button class="btn primary" (click)="onAdd()">New Device</button>
      </div>
    </div>
    <app-device-list></app-device-list>
  </div>
</section>