section.main {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.portal {
  display: flex;
  flex-direction: row;

  @media (max-width: 850px) {
    flex-direction: column;
  }

  .banner {
    flex: 0;
    display: flex;
    flex-direction: column;
    padding-right: 35px;
    border-right: 1px solid rgb(197, 197, 197);

    @media (max-width: 850px) {
      padding: 0;
      border: none;
    }

    .title {
      font-family: 'Impact', sans-serif;
      font-size: 150px;
      color: #36c395;
    }

    .subtitle {
      white-space: nowrap;
      font-size: 15px;
      text-transform: uppercase;
      font-weight: bold;
      margin-left: 5px;
    }
  }

  nav {
    flex: 0;
    display: flex;
    flex-direction: column;
    padding: 25px 0 25px 35px;
    gap: 25px;

    @media (max-width: 850px) {
      padding: 40px 0 0 0;
    }

    a div {
      flex: 0;
      border: 1px solid #ddd;
      padding: 25px;
      border-radius: 5px;
      display: flex;
      flex-direction: row;
      min-width: 300px;
      transition: 0.3s;
      
      img {
        width: 50px;
      }

      span {
        display: inline-flex;
        align-items: center;
        padding-left: 20px;
        font-size: 20px;
      }

      &:hover {
        background-color: #def1ea;
        span {
          
        color: #1d7c5c;
        }
      }
    }
  }
}