<section class="main">
  <div class="portal">
    <div class="banner">
      <span class="title">VODLE</span>
      <span class="subtitle">Coding exercise</span>
    </div>
    <nav>
      <a routerLink="/industries" class="link" routerLinkActive="active">
        <div>
          <img src="../../assets/svg/industries.svg">
          <span>Industries</span>
        </div>
      </a>
      <a routerLink="/devices" class="link" routerLinkActive="active">
        <div>
          <img src="../../assets/img/iot-devices.png">
          <span>Devices</span>
        </div>
      </a>
    </nav>
  </div>
</section>